<!-- CRIAR SALA -->
<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Senha</label>
    <input type="password" name="password" id="room-pass" placeholder="Senha" />
    <button>
      <img src="/images/enter-room.svg" alt="Entrar na sala" />
      Criar Sala
    </button>
  </form>
</section>        
     